extends ../main

block title
	| Yarkiy mir

block content
	include ../common/_header
	include ../common/_nav
	include ../common/_slider
	include ../common/_services
	include ../common/_clients
	include ../common/_thanks
	include ../common/_feedback
	include ../common/_buttonUp
	include ../common/_contacts