extends ../main

block title
	| Широкоформатная печать
block content
	.page-wrapper
		include ../common/_nav
		.img-wrapper
			img(class="img-bg-right" src="common/img/colorsRight.png")
		.page__content
			h1.page__title.page__title_outdoor
				| Широкоформатная печать
			.outdoor__images-wrap
				img(src="//lorempixel.com/300/200")
				img(src="//lorempixel.com/301/200")
				img(src="//lorempixel.com/302/200")
			.page__content-text.page__content-text_outdoor
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto voluptate nostrum quod, dolore ea odio voluptas quidem, consequatur perspiciatis modi cumque, laborum, pariatur enim tenetur ad a debitis natus veniam deserunt eveniet aut ipsa adipisci. Omnis aut error ullam illum quis nihil unde alias quaerat, minima sit consequuntur dolore magni sapiente veritatis soluta eos, reprehenderit itaque molestias dicta doloremque, eaque. Illo ex placeat qui enim esse fuga eos error omnis labore asperiores obcaecati, natus quaerat animi, inventore, culpa tempora odio ullam quo. Deleniti eius, non consequatur doloribus quae cumque a labore? Voluptatum tempora, similique, excepturi nihil esse veniam reiciendis modi.