header.main-header
	.header__container
		.mobile-menu
			.mobile-menu__link
			.mobile-menu__link
			.mobile-menu__link
		a(class="main-logo" href="index.html")
			h1.main-logo__text
				| Яркий мир 
		.main-header__contacts
			.phones
				a(class="phones__link" href="#")
					| +7 (3812) 388-248
				a(class="phones__link" href="#")
					| +7 (3812) 389-729
			.addresses
				a(class="addresses__link" href="#")
					| г.Омск, ул. Октябрьская, 188
				a(class="addresses__link" href="mailto:ym.omsk@yandex.ru")
					| ym.omsk@yandex.ru
			.socials
				a(class="socials__link" href="#")
					i.fa.fa-vk
				a(class="socials__link" href="#")
					i.fa.fa-instagram
		.mobile-contacts
			i.fa.fa-phone-square
		aside.contacts__sidebar.contacts__sidebar_mobile
			h3.contacts__title
				| ООО "Яркий мир"
			p.contacts__address
				| 644007
			p.contacts__address
				| г.Омск,
			p.contacts__address
				| ул. Октябрьская, 188
			p
				| -
			p.contacts__phone
				| +7 (3812) 123-123
			p.contacts__phone
				| +7 (3812) 321-321
			p.contacts__phone
				| +7 (913) 123-45-67
			p
				| -
			p
				a(class="contacts__email" href="#")
					| ym.omsk@yandex.ru
			p
				a(class="contacts__email" href="#")
					| pomac@yandex.ru
			p
				| -
			p
				a(class="contacts__social" href="#")
					i.fa.fa-vk
				a(class="contacts__social" href="#")
					i.fa.fa-instagram

