//- .slider__wrap
//- 	ul.slider__list
//- 		-var slides = ['1','2','3','4','5']
//- 		each slide in slides
//- 			li(class="slider__item slider__item_" + slide)
//- 	-var arrows = ['prev', "next"]
//- 	each arrow in arrows
//- 		a(class="arrow arrow_" + arrow)

.slider-container
  .slider-control.left.inactive
  .slider-control.right
  ul.slider-pagi
  .slider
    .slide.slide-0.active
      .slide__bg
      .slide__content
        svg(class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice")
          path(class="slide__overlay-path" d="M0,0 200,0 400,405 0,405")
        .slide__text
          h2.slide__text-heading
            | Кубок Газпром Нефти
          p.slide__text-desc
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.
    .slide.slide-1
      .slide__bg
      .slide__content
        svg(class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice")
          path(class="slide__overlay-path" d="M0,0 200,0 400,405 0,405")
        .slide__text
          h2.slide__text-heading
            | Брендирование автобуса Авангард
          p.slide__text-desc
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.
    .slide.slide-2
      .slide__bg
      .slide__content
        svg(class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice")
          path(class="slide__overlay-path" d="M0,0 200,0 400,405 0,405")
        .slide__text
          h2.slide__text-heading
            | Project name 3
          p.slide__text-desc
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.
          //- a(class="slide__text-link" href="#")
          //-   | Project link



//-     .slide slide-1 ">
//-       .slide__bg"></div>
//-       .slide__content">
//-         <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
//-           <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
//-         </svg>
//-         .slide__text">
//-           <h2 class="slide__text-heading">Project name 2</h2>
//-           <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
//-           <a class="slide__text-link">Project link</a>
//-         </div>
//-       </div>
//-     </div>
//-     .slide slide-2">
//-       .slide__bg"></div>
//-       .slide__content">
//-         <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
//-           <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
//-         </svg>
//-         .slide__text">
//-           <h2 class="slide__text-heading">Project name 3</h2>
//-           <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
//-           <a class="slide__text-link">Project link</a>
//-         </div>
//-       </div>
//-     </div>
//-     .slide slide-3">
//-       .slide__bg"></div>
//-       .slide__content">
//-         <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
//-           <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
//-         </svg>
//-         .slide__text">
//-           <h2 class="slide__text-heading">Project name 4</h2>
//-           <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
//-           <a class="slide__text-link">Project link</a>
//-         </div>
//-       </div>
//-     </div>
//-   </div>
//- </div>
